/* styles.css */
.row {
  margin-bottom: 32px;
}
.row #input-row {
  margin-bottom: 0px;
}
.box {
  max-width: 720px;
  margin: 0 auto;
  min-height: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px;
}
.load-container {
  height: 180px;
}
.irs-grid-pol.small {
  height: 0px;
}
.irs-min, .irs-max {
  visibility: hidden !important;
}
.scrollable-box {
  overflow-x: auto;
}
.wide-table {
  min-width: 700px;
}
